{% extends "admin/management/layout.html.twig" %}


{% block admin_body %}
    <i id="menuLeftInfo">galleryItem</i>

    <div class="buttonsBar marginBottom30">
        <a href="{{ path('admin_management_content_gallery') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Retour à la liste</a>
    </div>

    <div class="col-xs-12">
        <div class="dropzone my-dropzone" id="form_snippet_image" action="{{ path('ajax_gallery_send') }}">
            <div class="dz-message needsclick">
                <h3>Glissez vos images ici ou cliquez pour sélectionner.</h3>
                <span class="note">(Limite de <strong>50 images</strong> et chaque image doit faire <strong>moins de 3 MB</strong>)</span>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        //je récupère l'action où sera traité l'upload en PHP
        var _actionToDropZone = $("#form_snippet_image").attr('action');

        //je définis ma zone de drop grâce à l'ID de ma div citée plus haut.
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("#form_snippet_image", {
            url: _actionToDropZone,
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 3, // MB
            maxFiles: 50,
            acceptedFiles: "image/*"
        });

    </script>
{% endblock %}