/* FONTS */
@font-face {
    font-family: "jtmw";
    font-style: normal;
    src: url('font/jtmw.otf') format('truetype');
}

@font-face {
    font-family: "jtmw";
    font-style: italic;
    src: url('font/jtmw_italic.otf') format('truetype');
}




/* GENERAL */

body{
    background-color: #087292; /* MDBOOSTRAP brown lighten-1 */
}

#requestResonseBody{
    background-color: white;
}

#topMenuInfo{
    display: none;
}

/* =============================================================== */
/* =========================== HEADER ============================ */
/* =============================================================== */

.logo{
    width: 150px;
}

#navbarNav1 a{
    font-family: "jtmw", Helvetica, Arial, sans-serif;
    color: #087292;
    font-size: 1.3em;
}


/* =============================================================== */
/* ==================  CAROUSEL ========================== */
/* =============================================================== */

#homepageCarousel{
    z-index: 100;
}

.img-fluid{
    height: 100%;
    width: 100%;
}


/* =============================================================== */
/* ============================= CONTENU ========================= */
/* =============================================================== */
#homepageDivider::before, #homepageDivider::after{
    background: white;
}


/* =============================================================== */
/* ============================= FORMS ========================= */
/* =============================================================== */
.help-block{
    color: #bf360c;
    padding: 5px;
}

#request_sponsorship_dateOfBirth > .select-wrapper input.select-dropdown{
    text-align: center;
}

/* =============================================================== */
/* ============================= BUTTONS ========================= */
/* =============================================================== */
.btn-ins, .btn-brown{
    background-color: #f7a70f;
}

.btn-ins:hover, .btn-ins:focus, .btn-ins.active, .btn-brown:hover, .btn-brown:focus, .btn-brown.active{
    background-color: #fabf52 !important;
}

.btn-ins-original{
    background-color: #2e5e86;
}

.btn-ins-original:hover, .btn-ins-original:focus, .btn-ins-original.active{
    background-color: #2e5e86 !important;
}

/* =============================================================== */
/* ============================= FOOTER ========================= */
/* =============================================================== */

footer{
    background-color: #575756;
}

#newsletterForm label {
    color: white;
}

#newsletter_email{
    color: white;
}

#newsletter_email:focus{
    color: white;
    border-color: white;
}
