body{
    background-color: #8d6e63; /* MDBOOSTRAP brown lighten-1 */
}

#topMenuInfo{
    display: none;
}

/* =============================================================== */
/* =========================== HEADER ============================ */
/* =============================================================== */

.logo{
    width: 100px;
}


/* =============================================================== */
/* ================== HOMEPAGE CAROUSEL ========================== */
/* =============================================================== */

#homepageCarousel{
    z-index: 100;
}


/* =============================================================== */
/* ============================= CONTENU ========================= */
/* =============================================================== */
#homepageDivider::before, #homepageDivider::after{
    background: white;
}


/* =============================================================== */
/* ============================= FORMS ========================= */
/* =============================================================== */
.help-block{
    color: #bf360c;
    padding: 5px;
}

#request_sponsorship_dateOfBirth > .select-wrapper input.select-dropdown{
    text-align: center;
}


/* =============================================================== */
/* ============================= FOOTER ========================= */
/* =============================================================== */
#newsletterForm label {
    color: white;
}

#newsletter_email{
    color: white;
}

#newsletter_email:focus{
    color: white;
    border-color: white;
}
