{% extends "admin/users/layout.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block admin_body %}

    <i id="menuLeftInfo">ajouter</i>

    <div class="col-md-7 col-md-offset-2 text-center">
        <h1>Ajouter un compte utilisateur</h1>
        <div class="marginTop25">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary marginTop25" formnovalidate>Créer l'utilisateur</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}