<div class="text-center">
    <hr>
    <h3 class="h3-responsive">Paiment sécurisé avec Stripe</h3>
    <p><i>Stripe est une infrastructure de paiement web sécurisée (certifiée PCI niveau 1, le niveau de sécurité le plus élevé).</i></p>
    <form action="{{ path('charge_donation') }}" method="POST" class="text-center">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ publicKey }}"
                data-amount="{{ donationAmount*100 }}"
                data-name="Don de {{ donationAmount }} €"
                data-description="Association Terre Burkina"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-zip-code="true"
                data-currency="eur"
                data-label="Procéder au paiement">
        </script>
    </form>
</div>