{% extends 'visitor/base.html.twig' %}

{% block body %}
    <i id="topMenuInfo">donateItem</i>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-10 push-md-1">
                <div class="jumbotron text-center">
                    <h2 class="h2-responsive">Les équipes de Terre Burkina en France et au Burkina Faso vous remercient très chaleureusement pour votre don !</h2>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



