{% extends 'visitor/base.html.twig' %}

{% block body %}
    <i id="topMenuInfo">donateItem</i>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-10 push-md-1">
                <div class="jumbotron text-center">
                    <h1 class="h1-responsive">Toute l'équipe de l'association Terre Burkina vous remercie pour votre généreuse donation.</h1>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum ipsum neque, eget consequat felis convallis et. Nam tempor quis ligula quis tristique. Fusce gravida tempor nulla eget dignissim. Donec vitae condimentum sapien. Nam facilisis lectus sit amet efficitur semper. Sed egestas turpis ut ante tincidunt efficitur. In sed aliquam mauris. Cras ac sem ut est condimentum fringilla. Suspendisse in nisi velit. Aliquam erat volutpat. Sed tempor vel enim in volutpat. Sed at orci ipsum.

                        Pellentesque lobortis fringilla tempor.
                    </p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



