{% extends 'visitor/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Contactez-nous</h1>
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info marginTop25"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
    {% endfor %}
    <div class="marginTop25">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary marginTop25" formnovalidate>Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}


