{% extends 'visitor/base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <br>
    <div class="container-fluid white">
        <br>
        <div class="row">
            <div class="col-12">
                <div class="divider-new">
                    <h2 class="h2-responsive">Mentions légales</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 push-md-2">
                <h4>Gestion des informations personnelles</h4>
                <p>
                    Conformément à la loi Informatique et Libertés, vous disposez d'un plein droit d'accès, de modifications ou de suppression des données personnelles vous concernant. Vous pouvez à tout moment exercer ce droit en nous contactant par email : terre.burkina@gmail.com ou sur demande écrite à cette adresse : Terre Burkina - 34, rue Foch - 54110 VARANGEVILLE.
                </p>
                <h4>Législation française relative au droit d'accès au fichier informatisé</h4>
                <p>
                    Conformément à la loi française N· 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés (CNIL), tout utilisateur ayant déposé sur ce site des informations directement ou indirectement nominatives, peut demander la communication des informations nominatives le concernant en s'adressant à Terre Burkina - 34, rue Foch - 54110 VARANGEVILLE - et les faire rectifier le cas échéant.
                </p>
                <h4>Droits d'auteurs</h4>
                <p>
                    En application du Code français de la Propriété Intellectuelle et, plus généralement, des traités et accords internationaux comportant des dispositions relatives à la protection des droits d'auteurs, vous vous interdirez de reproduire pour un usage autre que privé mais aussi de vendre, distribuer, émettre, diffuser, adapter, modifier, publier, communiquer intégralement ou partiellement, sous quelque forme que ce soit, les données, la présentation ou l'organisation du site sans l'autorisation écrite préalable de Terre Burkina ©.
                </p>
                <h4>Décharge de responsabilité</h4>
                <p>
                    Alors que nous avons effectué toutes les démarches pour nous assurer de la fiabilité des informations contenues sur ce site internet, Terre Burkina ne peut encourir aucune responsabilité du fait d'erreurs, d'omissions, ou pour les résultats qui pourraient être obtenus par l'usage de ces informations.

                    Terre Burkina n'est tenu que d'une obligation de moyens concernant les informations qu'il met à disposition des personnes qui accèdent à son site internet.

                    Par ailleurs, l'usage de liens hypertextes peut conduire votre consultation de notre site vers d'autres serveurs, serveurs sur lesquels Terre Burkina n'a aucun contrôle.
                </p>
            </div>
        </div>

    </div>
{% endblock %}


