/* FONTS */
@font-face {
    font-family: "jtmw";
    font-style: normal;
    src: url('font/jtmw.otf') format('truetype');
}

@font-face {
    font-family: "jtmw";
    font-style: italic;
    src: url('font/jtmw_italic.otf') format('truetype');
}

#headerTitle{
    font-family: "jtmw", Helvetica, Arial, sans-serif;
    color: #087292;
}

#topMenuInfo{
    display: none;
}

.logo {
    width: 200px;
}

#navbarNav1 a{
    font-family: "jtmw", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

.navbar-brand{
    font-family: "jtmw", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
}

@media screen and (max-width: 991px){
    .indexChildName{
        text-align: center;
    }
}


#fasomaUserInfos{
    overflow: scroll;
}

/* =============================================================== */
/* ============================= BUTTONS ========================= */
/* =============================================================== */
.btn-ins, .btn-brown{
    background-color: #f7a70f;
}

.btn-ins:hover, .btn-ins:focus, .btn-brown:hover, .btn-brown:focus{
    background-color: #fabf52 !important;
}

/* =============================================================== */
/* ============================= FORMS ========================= */
/* =============================================================== */
.help-block{
    color: #bf360c;
    padding: 5px;
}

#edit_profile_dateOfBirth > .select-wrapper input.select-dropdown{
    text-align: center;
}

/* =====================================================================
============================= MESSAGES =================================
===================================================================== */

#writeMessageBlock{
    display: none;
}


footer{
    background-color: #575756;
}