
<div style="text-align: center">
    <img src="{{ absolute_url(asset('img/logo.jpg')) }}" style="width: 150px">
</div>

<div style="text-align: center">
    <h2  style="margin-top: 30px">Notification Espace Fasoma</h2>

    <p>Bonjour{% if user.fullName is not null %} {{ user.fullName }}{% endif %},</p>

    <p>Il y a des nouveautés concernant votre parrainage sur votre espace Fasoma !</p>
    <br>
    <p><a href="{{ url }}"
          style="border: 1px solid #f7a70f;
                 padding: 10px;
                 color: white;
                 background-color: #f7a70f;
                 font-size: 1.2em;
                 text-decoration: none;
                 -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
                margin: 20px;
                ">Cliquez ici pour y accéder</a>
    </p>
    <br><br>

    <p>Terre Burkina vous remercie,<br/>
        A très bientôt !</p>
</div>