{% extends "admin/childs/groups/view_layout.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block group_view %}
    <i id="menuChildInfo">news</i>

    <div class="col-md-7 col-md-offset-2 text-center">
        <div class="marginTop15">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Ajouter la nouvelle</button>
            <a href="{{ path('admin_childs_news_group', {'id': group.id}) }}" class="btn btn-warning btn-md">Annuler</a>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

